
<div class="page-header">
  <h3> Userstories</h3>
</div>

<% @userstories.each do |u| %>
<div class="col-xs-6 form-group">
	<tabel class="table table-hover">
		<tbody>
			<tr>
				<td>
					<%= u.content %>
				</td>
			</tr>
		</tbody>
	</table>
</div>

	<%= link_to "edit", edit_userstory_path(u), :class => "btn-sm btn-primary" %>
	<%= link_to "verwijder", (u), :method => :delete, :class => "btn-sm btn-danger" %>

<br/><br/>

<% end %>
<div> 
<%= link_to "nieuw", new_userstory_path, :class => "btn btn-info" %>
</div>