<div class="page-header">
  <h3>Nieuwe Userstories</h3>
</div>


<%= form_for @userstory do |u| %>

<div class="row">
    <div class="col-xs-4 form-group">
      	<%= u.label :content ,"Vul hieronder een userstory in:" %> 
		<%= u.text_area :content, class: "form-control errorcheck", placeholder: "Als gebruiker wil ik graag..." %>
   	</div>
</div>

<br><br>
<p>
	<%= u.submit "Toevoegen", :class => "btn btn-info" %>
</p>

<% end %>