#sprints
  position: relative

  .sprintname
    width: 100%
    background-color: #2980B9
    padding: 6% 0 2% 25%
    color: white


  .userstories
    padding: 2% 0 2% 25%

    h2
      font-size: 18px
