#sprints
  position: relative

  .sprintname
    width: 100%
    background-color: #2980B9
    padding: 6% 25% 2% 25%
    color: white
    pointer-events: none

  .userstories
    padding: 2% 25% 2% 25%
    display: none

    h2
      font-size: 18px

    &.current
      display: block

    .userstoriescontent
      background-color: #cccccc
      padding: 2% 0 2% 5%
      margin-bottom: 20px

  .sprintForm
    padding: 2% 25% 2% 25%

    fieldset

      label
        display: block
        font-size: 18px

      input
        display: block

      input, select
        margin: 0 0 20px 0

      input[type="submit"]
        margin: 20px 0 0 0