#sprints
  position: relative

  .sprintname
    width: 100%
    background-color: #2980B9
    padding: 6% 25% 2% 25%
    color: white


  .userstories
    padding: 2% 25% 2% 25%

    h2
      font-size: 18px

    .userstoriescontent
      background-color: #cccccc
      padding: 2% 0 2% 5%
      margin-bottom: 20px

  .sprintForm
    padding: 2% 25% 2% 25%

    fieldset
      
      label
        display: block
        padding: 5px 0 2px 0

      input
        display: block

      input, select
        margin: 0 0 10px 0